.header {
    margin-bottom: $m-size;
    color: #fff;
    background-color: $off-black;
    padding: $m-size 0;

}


// using the BEM Naming Convention --> Base Element Modifier
.header__title {

    font-size: 3.2rem;
    margin: 0;

}

.header__subtitle {

    color: $off-white;
    font-size: $m-size;
    font-weight: 500;
    margin: 0;
}

@media (min-width: $desktop-breakpoint){
    .header {
      margin-bottom: $xl-size;
    }
  }